html,
body {
  width: 1200px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
  color: white;
  background: #849d8f;
 }

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*----------------index.html----------------*/
.container{
  width: 1146px;
  margin-right: 27px;
  margin-left: 27px;
}
.logo{
  float: left;
  min-height: 110px;
  width: 160px;
}
.main-navigator{
  float: left;
  min-height: 110px;
  width: 355px;
}
.user{
  float: right;
  min-height: 110px;
  width: 267px;
  }
}
.slider{
  width: 680px;
  min-height: 600px;
  margin: 0 auto;
  text-align:center;
  vertical-align: middle;
  background: url(../img/ice-1.png) no-repeat;
  background-position: -140px -50px;
}
.raspberry{
  float: left;
  width: 520px;
  margin-bottom: 20px;
  background: url("../img/raspberry.jpg") no-repeat;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}
.chocolate{
  float: right;
  width: 520px;
  margin-bottom: 20px;
  background: url(../img/chocolate.jpg) no-repeat;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}
.popular{
  margin-bottom: 40px;
  min-height: 340px;
}
.popular-item {
  float: left;
  width: 267px;
  margin-right: 25px;
  margin-bottom: 60px;
  background: url(../img/hit.png) no-repeat;
}
.popular-item:last-child {
  margin-right: 0;
}
.feature{
  margin-bottom: 40px;
  min-height: 305px;
  background: url(../img/gradient-wafer.png) repeat;
  border-radius: 10px;
  color: #323232;
}
.feature-left{
  float: left;
  width: 475px;
  min-height: 190px;
  margin-right: 25px;
  padding-left: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.feature-right{
  float: right;
  width: 475px;
  min-height: 190px;
  margin-right: 35px;
  padding-top: 30px;
  padding-bottom: 30px;


}
.blog{
  margin-bottom: 42px;
}
.blog-news-left{
  float: left;
  width: 541px;
  min-height: 222px;
  margin-right: 25px;
  background: url(../img/strawberry.jpg) no-repeat;
  background-position:-80px -220px;
  color: #323232;
}
.blog-subscribe-right{
  float: right;
  width: 541px;
  min-height: 222px;
  background: #f8f7f4;
  color: #5a5a5a;
}
.map{
  margin-bottom: 35px;
}
.map-conteiner{
  min-width:1200px;
  min-height: 430px;
}
.contact{
  float: right;
  width: 307px;
  min-height: 307px;
  background: #fefefe;
  margin-right: 27px;
}
.main-footer{
  clear: both;
  width: 1146px;
  min-height: 60px;
}
.footer-social{
  float: left;
  width: 267px;
  margin-right: 27px;
}

.footer-about-us{
  float: left;
  width: 340px;
  margin-right: 27px;
}
.footer-copyright{
  float: right;
  width: 195px;
  margin-right: 27px;
}
/*---------------katalog.html--------------------*/

.container{
  clear: both;
}
.breadcrumbs{
  float: left;
  width: 230px;
  min-height: 18px;
}
.filter{
  float: left;
  clear:both;
  width: 870px;
  min-height: 140px;
}
.catalog{
  clear: both;
  width: 1146px;
  min-height: 1060px;
  margin-bottom: 80px;
}
.catalog-item{
  float: left;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 95px;
}
.catalog-item:nth-child(4n){
  margin-right: 0;
}
.paginator{
  float: right;
  width: 170px;
  min-height: 30px;
  margin-bottom: 50px;
  margin-top: 40px;
  text-align: center;
}
